<%- include("top.ejs") %>

<section class="home-section">
  <h1>jury</h1>

  <h3>add jury</h3>
  <form method="post" action="new_jury">
    nom :<input type="nom" name="nom" id="" /> prenom :<input
      type="prenom"
      name="prenom"
      id=""
    />
    email :<input type="email" name="email" id="" /> password :<input
      type="password"
      name="password"
      id=""
    />
    confirm password:<input type="password" name="cpassword" id="" /><br />
    <input type="submit" value="submit" />
  </form>
</section>

<%- include("bottom.ejs") %>
