<%- include("top.ejs") %>

<section class="home-section">
  <h1>veuiller ajouter le fichier excel contenant les etudiant :</h1>

  <form method="post" action="import">
    <input type="file" name="fileInput" />
    <button type="submit">submit</button>
    <!-- <a href="/equipe">equipe</a> -->
  </form>
</section>

<%- include("bottom.ejs") %>
