<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire d'équipe</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Critere</th>
          <th>Coeficient</th>
          <th>note</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Conception</td>
          <td>Design</td>
          <td>Sécurité</td>
          <td>Fonctionnalités réalisées</td>
          <td>Créativité</td>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>1</td>
          <td>3</td>
          <td>1</td>
        </tr>
        <tr>
          <td><input type="number" /></td>
          <td><input type="number" /></td>
          <td><input type="number" /></td>
          <td><input type="number" /></td>
          <td><input type="number" /></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
