<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/import">
    <input type="file" name="fileInput">
    <button type="submit">submit</button>
    <a href="/equipe">equipe</a>
    <a href="/date_prof">date</a>
    <a href="/open_upload">drop</a>
</form>
</body>
</html>