<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://harshen.github.io/jquery-countdownTimer/jquery.countdownTimer.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
    <style>
        @import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  height: calc(100% - 140px);
}
.sidebar .scroll {
  overflow-y: scroll;
  scrollbar-width: thin;
}
.sidebar .scroll::-webkit-scrollbar {
  width: 8px;
  background: #262440;
  border-radius: 5px;
}
.sidebar .scroll::-webkit-scrollbar-thumb {
  background: #262440;
  border-radius: 5px;
}
.sidebar .scroll::-webkit-scrollbar-track {
  background: #171526;
  border-radius: 5px;
}
.sidebar li {
  position: relative;
  margin: 8px 8px 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}
.sidebar li a:hover {
  background: #1d1b31;
}
.sidebar li a:hover .links_name {
  transition: all 0.5s ease;
}
.sidebar li a:hover i {
  transition: all 0.5s ease;
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}
.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar li.profile .name {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}
.sidebar.open .logo-details .icon {
  opacity: 1;
}
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section {
  position: relative;
  background: #e4e9f7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
    </style>

    <style>
        .center-container {
            width: 500px;
            padding: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
            border: none;
            border-radius: 25px;
            text-align: center;
        }

        #countdowntimer {
            width: fit-content;
            margin: 10px auto;
            /* Adjust as needed */
            font-size: 20px;
            padding: 10px;
            -webkit-font-smoothing: antialiased;
            color: #f00d0d;
            background-color: #FFF;
            border: 2px solid red;
            border-radius: 10px;
        }

        #update {
            border: 2px solid #2D3250;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            padding: 15px 40px;
            outline: none;
            color: rgb(10, 10, 10);
            font-size: 15px;
            border-radius: 25px;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 200;
            transition: 250ms background ease;
            -webkit-transition: 250ms background ease;
            -moz-transition: 250ms background ease;
            -o-transition: 250ms background ease;
        }

        #update:hover {
          color: #fff;
            background: #FC7300;
            border: 2px solid #FC7300;
        }

        #SESSION {
            border: 2px solid #0097e6;
            background: none;
            display: block;
            margin: 20px auto;
            padding: 15px 45px;
            width: 400px;
            font-size: 20px;
            outline: none;
            color: rgb(10, 10, 10);
            border-radius: 25px;
            text-align: center;
            transition: 250ms width ease, 250ms border-color ease;
            box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
        }

        #SESSION:hover {
            width: 300px;
        }

        #SESSION:focus {
            width: 300px;
            border-color: #6fb98f;
        }

        /* Define font family and size for the whole document */
        /* Define font family and size for the whole document */
        html {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
        }

        /* Set a background color */
        body {
            background-color: #f2f2f2;
        }

        /* Define the sidebar */
        .my-own-container .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 220px;
            background-color: #fcfcfc;
            z-index: 1000;
            /* Set a high z-index */
        }

        .my-own-container .navbar-brand {
            background-image: url('./Capture\ d’écran\ 2023-04-09\ 033300.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 190px;
            /* set the width of your image */
            height: 50px;
            /* set the height of your image */
            display: block;
            /* make the link a block element */
            text-indent: -9999px;
            /* hide the link text */
            margin-top: 50px;
            margin-left: 16px;
        }


        /* Style the navigation */
        .my-own-container .my-nav {
            margin-top: 60px;
            text-align: center;
        }

        .my-own-container .my-nav ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }


        .my-own-container .my-nav li {
            margin-bottom: 15px;
        }


        .my-own-container .my-nav a:hover {
            background-color: #FC7300;
            color: #ffffff;
            text-decoration: none;
        }

    


        /* Define the main content area */
        .my-own-container .main {
            display: flex;
        }

        .my-own-container #content-container {
            position: absolute;
            top: 0;
            left: 250px;
            /* Set the left position to the width of the sidebar */
            right: 0;
            bottom: 0;
            padding: 20px;
            overflow-y: auto;
            /* Add vertical scroll if necessary */
        }

      
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
        }


        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .btn-reclamation {
            background-color: #2D3250;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn-reclamation:hover {
            background-color: #2D3250;
        }

        .btn-reclamation11 {
            background-color: #A76F6F;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn-reclamation11:hover {
            background-color: #a71d2a;
        }
    </style>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            height: 100vh;
            margin: 0;
        }

        .wrapper {
            display: flex;
            width: 100%;
            height: 100%;
        }

        #sidebar {
            min-width: 250px;
            max-width: 250px;
            background: #2D4356;
            color: #fff;
            transition: all 0.3s;
            height: 100%;
            overflow-y: auto;
        }

        #content {
            width: 100%;
            padding: 20px;
            transition: all 0.3s;
            height: 100%;
            overflow-y: auto;
        }

        .box {
            width: 500px;
            padding: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
            border: none;
            border-radius: 25px;
            text-align: center;
        }

        #date {
            border: 2px solid #0097e6;
            background: none;
            display: block;
            margin: 20px auto;
            padding: 15px 45px;
            width: 400px;
            font-size: 20px;
            outline: none;
            color: rgb(10, 10, 10);
            border-radius: 25px;
            text-align: center;
            transition: 250ms width ease, 250ms border-color ease;
            box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
        }

        #date:hover {
            width: 300px;
        }

        #date:focus {
            width: 300px;
            border-color: #6fb98f;
        }

        #submit {
            border: 2px solid #2D3250;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            padding: 15px 40px;
            outline: none;
            color: rgb(10, 10, 10);
            font-size: 15px;
            border-radius: 25px;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 200;
            transition: 250ms background ease;
            -webkit-transition: 250ms background ease;
            -moz-transition: 250ms background ease;
            -o-transition: 250ms background ease;
        }

        #submit:hover {
          color: #fff;
            background: #FC7300;
            border: 2px solid #FC7300;
        }
    </style>

</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
          <i class='bx bxl-c-plus-plus icon'></i>
            <div class="logo_name">NetCode</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>
        <ul class="nav-list">
          <li>
              <i class='bx bx-search' ></i>
             <input type="text" placeholder="Search...">
             <span class="tooltip">Search</span>
          </li>
          <li>
            <a href="/home1">
                <i class='bx bx-home' ></i>
              <span class="links_name">home</span>
            </a>
             <span class="tooltip">Dashboard</span>
          </li>
          <li>
           <a href="/date_prof">
            <i class='bx bx-time-five' ></i>
             <span class="links_name">date</span>
           </a>
           <span class="tooltip">User</span>
         </li>
        
         <li class="profile">
             <div class="profile-details">
               <!--<img src="profile.jpg" alt="profileImg">-->
               <div class="name_job">
                 <div class="name">Gabriel Toledo</div>
                 <div class="job">Frontend Developer</div>
               </div>
             </div>
             <i class='bx bx-log-out' id="log_out" ></i>
         </li>
        </ul>
      </div>
      <section class="home-section">
        <div class="main_content">
            <div id="content-container">
                <% if(date=="open" ){%>
                    <div class="center-container">
                        <h2>pour modifier la date de reclamation des professeur click sur modifier pour plus de detail
                        </h2>

                        <div id="countdowntimer">
                            <span class="future_date"></span>
                        </div>
                        <a href="/date_prof_update"><button id="update" >modifier</button></a>
                    </div>
                    <%}%>
                    <% if(date=="termine" || date=="close" ){%>
                      <section class="home">
                        <form class="box" action="/date_open_prof" method="get" target="_self">
                          <h3>préciser la date de Traitement des réclamation</h3>
        
                          <input name="date" value="<%=years%>" placeholder="Date" type="text" id="date"
                            onfocus="(this.type = 'date')" required>
                          <input name="time" value="<%=times%>" placeholder="Temps" type="text" id="date"
                            onfocus="(this.type = 'time')" required>
                          <input type="submit" id="submit" value="Submit">
                        </form>
                      </section>
                      <%}%>
                                <script>
                                    function validateForm() {
                                        var sessionSelect = document.getElementById("SESSION");
                                        var selectedOption = sessionSelect.value;

                                        if (selectedOption !== "SR" && selectedOption !== "SN") {
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Attention',
                                                text: 'Veuillez choisir une session (SR ou SN) avant de soumettre le formulaire.',
                                                confirmButtonColor: '#d33', // Couleur du bouton de confirmation
                                                background: '#f4f4f4' // Couleur de fond de l'alerte
                                            });
                                            return false; // Empêcher la soumission du formulaire
                                        }
                                        return true; // Autoriser la soumission du formulaire
                                    }

                                </script>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar').toggleClass('active');
                    });
                });
            </script>
            <% if(date=="open" ){%>

                <script>

                    $('.future_date').countdowntimer({

                        dateAndTime: '<%= dd %>',
                    });
                    console.log("in");
                    console.log('<%= dd %>')
                </script>
                <%}%>
        </div>
    </section>

    <script>
      let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");
  let navList = document.querySelector(".nav-list");
  
  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    navList.classList.toggle("scroll");
    menuBtnChange();//calling the function(optional)
  });
  
  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search icon
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });
  
  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the icons class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the icons class
   }
  }
  
    </script>
</body>

</html>
