<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>choisir le challenge</h3>

    <% data.forEach((item) => { %>
    <div style="border: 1px solid black; width: 250px">
      <p>Defi :<%= item.title %></p>
      <p>description :<%= item.description %></p>
      <p> deadline: <%= item.deadline %></p>
      <button><a href="equipe">voir</a></button>
    </div>

    <% }); %>
  </body>
</html>
